// Place all the styles related to the smples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.par20{
fill: red;
}


.par21{
fill: green;
}


.par22{
fill: blue;
}

.par22x5{
fill: yellow;
}

.par23{
fill: brown;
}

.par23x5{
fill: purple;
}


.par24{
fill: orange;
}

.bckgrndBox{
fill: lavender;
}
